@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #0093AB;
}
.note-wrp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    background-color: #06113C;
    position: fixed;
    top: 0;
    left: 0;
}
.logo h4{
    font-size: 18px;
    color: #FF8C32;
}
.logo h4 span{
    color: #fff;
}
.dates{
    color: #fff;
    font-size: 18px;
}
.add {
    background-color: #FF8C32;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
}


.notes-list{
    margin-top: 85px;
    padding: 20px 25px;
}